html {
  font-family: 'Inter Tight', sans-serif;
  font-size: 13px;
  font-weight: $fontNormal;
  letter-spacing: .025rem;

  &:not(.theme-light) {
    .logo-path {
      fill: $cardBackground;
    }
  }
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 600;
  margin-top: 0;
}

p {
  line-height: 20px;

  &.text-xs {
    line-height: 18px;
  }
}

/* ===== OVERRIDES ===== */
.grid {
  margin: {
    left: -$gutter;
    right: -$gutter;
  };

  [class*="col-"] {
    padding: {
      left: $gutter;
      right: $gutter;
    };
  }
}

.theme-light .surface-ground {
  background: $secondaryHoverBg !important;
}

.p-tag {
  font-size: 11px !important;
  font-weight: $fontMedium !important;
  padding: .5rem 1rem !important;
  text-transform: capitalize !important;
}

.p-speeddial {
  .p-speeddial-button {
    width: 3rem !important;
    height: 3rem !important;
  }

  .p-speeddial-list {
    @extend .position-absolute;
    left: -100px;
  }
}

th {
  &.text-right {
    .p-column-header-content {
      justify-content: flex-end;
    }
  }
}

td {
  &.text-right {
    .p-speeddial {
      display: inline-flex;
    }
  }
}

.p-datatable {
  .p-datatable-thead>tr>th {
    font-size: 12px !important;
    padding: 1rem .75rem !important;
    text-transform: uppercase !important;
  }

  .p-datatable-tbody>tr>td {
    padding: .5rem .75rem !important;
  }
}

.theme-light {
  .surface-card {
    background: rgba(251, 251, 251, 1) !important;
  }
  .p-dialog {
    .p-dialog-header {
      background: $primary;
      color: $cardBackground;
      cursor: grab;
      padding: 1rem 2rem;
    }

    .p-dialog-content {
      background: rgba(255, 255, 255, 1) !important;
      padding: 2rem;
    }

    &-header-icon {
      width: 2.5rem !important;
      height: 2.5rem !important;

      .pi {
        font-size: 16px;
        color: $cardBackground;
        font-weight: $fontMedium;
      }

      &:hover {
        .pi {
          color: $primary !important;
        }
      }
    }
  }

  .p-button {
    &:hover {
      background: $primaryButtonHover;
      border-color: $primaryButtonHover;
    }
  }

  .p-button.p-button-secondary:enabled:hover,
  .p-buttonset.p-button-secondary>.p-button:enabled:hover,
  .p-splitbutton.p-button-secondary>.p-button:enabled:hover {
    &:hover {
      background: $secondaryHoverBg;
      border-color: $primary;
    }
  }
}

.p-dropdown {
  .p-dropdown-label {
    text-transform: capitalize;
  }
}

.p-button {
  &.p-button-lg .p-button-icon {
    font-size: 1.3rem;
    font-weight: 600;
    transform: translateY(1px);
  }
}

.p-selectbutton {
  .p-highlight {
    pointer-events: none;
  }
}

.p-component-overlay {
  z-index: 1;
}
/* ===== OVERRIDES ===== */

.theme-light .router-link-active {
  background: $secondaryHoverBg;
  border: 1px solid $primary;
  color: $primary !important;
  font-weight: $fontMedium;
  pointer-events: none;
}

.primary-navigation {
  font-size: 1.15rem;

  i {
    font-size: 1.25rem;
    transform: translateY(1.2px);
  }

  .error {
    border-color: $danger;
    border-width: 1.5px;
  }

  .pending-icon {
    color: $danger;
    font-size: 1.25rem;
    rotate: 180deg;
  }
}

.router-view {
  @extend .w-100;
  height: calc(100vh - $headerHeight);
  max-width: 1920px;
  overflow-y: auto;
}

.header-height {
  height: $headerHeight;
}
