html {
  color: $primary;
  font-family: 'Inter Tight', sans-serif;
  font-size: 13px;
  font-weight: $fontNormal;
  letter-spacing: .05rem;
}

h1, h2, h3 {
  font-weight: 600;
  margin-top: 0;
}

p {
  line-height: 20px;

  &.text-xs {
    line-height: 18px;
  }
}

/* ===== OVERRIDES ===== */
.grid {
  margin: {
    left: -$gutter;
    right: -$gutter;
  };

  [class*="col-"] {
    padding: {
      left: $gutter;
      right: $gutter;
    };
  }
}

.surface-card {
  background: $cardBackground;
}

.surface-ground {
  background: $secondaryHoverBg;
}
/* ===== OVERRIDES ===== */

.router-link-active {
  background: $secondaryHoverBg;
  color: $primary !important;
  font-weight: $fontMedium;

  &:hover {
    background: rgba(233, 236, 239, 1);
  }
}

.primary-navigation {
  font-size: 15px;

  i {
    font-size: 15px;
  }
}

.router-view {
  @extend .w-100;
  height: calc(100vh - $headerHeight);
  max-width: 1600px;
  overflow-y: auto;
}

.header-height {
  height: $headerHeight;
}
