.btn-link-parent {
  &:hover {
    .btn-link {
      &:before {
        @extend .w-100;
      }
    }
  }
}

.btn-link {
  @extend .position-relative;
  color: var(--link) !important;
  font-size: 1rem;
  text-decoration: none;

  &:before {
    @extend .content-before;
    background: $primaryLink;
    bottom: -2px;
    height: 1px;
    left: 0;
    transition: width $transitionFast;
    width: 0;
  }

  &:hover {
    &:before {
      @extend .w-100;
    }

    .pi {
      margin-left: 2px;
      opacity: 1;
    }
  }

  .pi {
    font-size: 0.9rem;
    margin-left: 0;
    opacity: 0;
    transition: 0.25s;
    transition-delay: 0.15s;
  }

  &.hovered {
    transition: color;
    color: $primary !important;

    &:hover {
      color: red !important;
    }

    &:before {
      @extend .w-100;
    }
  }
}

.theme-light {
  .btn-link {
    color: var(--link) !important;

    &.text-blue-500 {
      color: #3b82f6 !important;
      font-weight: 500;
    }

    &:before {
      background: var(--link) !important;
    }

    &.hovered {
      color: $primary !important;
      font-weight: 600;

      &:hover {
        color: var(--link) !important;
      }

      &:before {
        background: var(--link) !important;
        display: none;
      }
    }
  }
}

.outlined-button-hover {
  background: rgba(255, 255, 255, .5) !important;

  &:hover {
    background: rgba(255, 255, 255, 1) !important;
  }
}

.p-button {
  &-warning {
    background: #fff2e3 !important;
    color: #aa5200 !important;
    border-color: #aa5200 !important;
  }
}
