.btn-link {
  @extend .position-relative;
  font-size: 13px;
  text-decoration: none;

  &:before {
    @extend .content-before;
    background: $cardBackground;
    bottom: -2px;
    height: 1px;
    left: 0;
    transition: width $transitionFast;
    width: 0;
  }

  &:hover {
    &:before {
      @extend .w-100;
    }
  }
}

.theme-light {
  .btn-link {
    color: $primaryLink;

    &:before {
      background: $primaryLink !important;
    }
  }
}
