header {
  .p-tag {
    font-size: 1rem !important;
    position: relative;
    height: 39px;

    &.p-tag-info {
      background: #fff;
      border-color: $destinationIndicator;
      overflow: hidden;
      padding-right: 0 !important;
      font-weight: 400;

      &.tag-source {
        border-color: $sourceIndicator;

        .source {
          border-left: solid 1px $sourceIndicator;
          background: lighten($color: $sourceIndicator, $amount: 22.5%);
          color: var(--surface-900);
        }
      }
    }

    .destination,
    .source {
      align-items: center;
      background: lighten($color: $destinationIndicator, $amount: 22.5%);
      border-left: solid 1px $destinationIndicator;
      display: flex;
      height: 38px;
      margin-left: 1rem;
      padding: 0 .75rem;
      text-transform: capitalize;
      transform: translateY(-1px);
    }

    &.store-name {
      text-transform: none !important;
    }
  }
}

.logo {
  left: 3rem;
  position: absolute;
  top: 2rem;
  z-index: 2;
}

.auth {
  &-container {
    position: relative;
    width: 100%;
    z-index: 2;
  }

  &-wrapper {
    margin: {
      left: auto;
      right: auto;
    }
    background: rgb(255, 255, 255) !important;
    border-radius: var(--border-radius);
    border: 2px solid var(--white);
    padding: 3rem !important;
  }

  .active-btn {
    border: 1.5px solid $primary !important;
  }

  .p-password {
    .p-inputtext {
      @extend .w-100;
    }
  }

  .login-platforms {
    img {
      width: 30px;
    }
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 1.25rem !important;
}

/* Universal store */
.p-button-destination {
  border: 0 !important;
  &.active {
    background: $destinationIndicator;
    border-color: $destinationIndicator;
    color: $primary;
    pointer-events: none;
  }
}

.p-button-source {
  border: 0 !important;
  &.active {
    background: $sourceIndicator;
    pointer-events: none;
  }
}
